site_name: Python Package Documentation
site_description: A Python package for simulating gravitational-wave detector data for mock data challenges
site_url: https://python_package.readthedocs.io
repo_url: https://gitlab.com/group_name/package_name
repo_name: package_name

theme:
    name: material
    palette:
        - scheme: default
          primary: blue
          accent: blue
          toggle:
              icon: material/brightness-7
              name: Switch to dark mode
        - scheme: slate
          primary: blue
          accent: blue
          toggle:
              icon: material/brightness-4
              name: Switch to light mode
    features:
        - navigation.tabs
        - navigation.sections
        - navigation.expand
        - navigation.top
        - search.highlight
        - content.code.copy
extra_css:
    - style/api.css

plugins:
    - search
    - mkdocstrings:
          default_handler: python
          handlers:
              python:
                  paths: [src]
                  options:
                      show_docstring_attributes: true
                      show_docstring_description: true
                      members_order: source
                      group_by_category: true
                      separate_signature: true
                      docstring_style: google
                      show_source: true
                      show_root_heading: true
                      show_root_full_path: false
                      show_submodules: false
                      show_bases: true
                      show_category_heading: true
                      show_signature: true
                      merge_init_into_class: true
                      show_signature_annotations: true
                      show_symbol_type_heading: true
                      signature_crossrefs: false
                      show_object_full_path: false
                      heading_level: 2
                      filters:
                          - '!^_'
    - gen-files:
          scripts:
              - docs/gen_ref_pages.py

nav:
    - Home: index.md
    - Installation: user-guide/installation.md
    - API Reference:
          - Overview: reference/index.md
          - Modules:
                - package_name: reference/package_name/index.md
                - Hello World: reference/package_name/hello_world.md
                - Version: reference/package_name/version.md
                - Utils:
                      - Overview: reference/package_name/utils/index.md
                      - Logging: reference/package_name/utils/log.md
    - Developer Guide:
          - Contributing: dev/contributing.md
    - Troubleshooting: dev/troubleshooting.md

markdown_extensions:
    - pymdownx.highlight:
          anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences
    - admonition
    - pymdownx.details
    - pymdownx.tabbed:
          alternate_style: true
    - attr_list
    - md_in_html
    - pymdownx.arithmatex:
          generic: true

extra_javascript:
    - javascripts/mathjax.js
    - https://polyfill.io/v3/polyfill.min.js?features=es6
    - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra:
    version:
        provider: mike
